.Display{
  height: 60px;
  width: 290px;
  font-size: 64px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}